html {
  scroll-behavior: smooth;
} /*плвное перемещение*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 94px 24px 91px 24px;
  align-content: center;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  align-items: center;
  padding-top: 42px;
  gap: 35px;
  margin-left: 24px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none; 
}

.no__underline{
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  cursor: pointer;
}

.address {
  font-style: normal;
  justify-self: end;
  width: 240px;
  margin-right: 26px;
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 3px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  min-height: 757px;
  position: relative;
  margin-bottom: 179px;
  z-index: 0;
}

.overlay {  
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cover__title {
  position: relative;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  padding-top: 164px;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 1.37;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  /*"НО" и "БЕ" в заголовке*/
  letter-spacing: 60px;
}

.no-letter-spacing {
  /*"О" в заголовке */
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: baseline;
  margin: 136px 11px 0 37px;
  color: white;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  justify-self: start;
  word-spacing: 19px;
  z-index: 2;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;

  z-index: 2;

}

.lots {
  margin: 0 24px 146px;
}

.lots__heading {
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 26px;
  text-transform: uppercase;  
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
  margin-bottom: 30px;
}

.card__link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  background-position: center center;
  background-size: cover;
  padding: 51px 39px 48px 40px;
  position: relative;
  
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);  
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);  
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);  
}

.title__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-transform: lowercase;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 190px);
  gap: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  grid-row: 1/4;
  justify-self: center;
  margin-top: 35px;
  margin-left: 23px;
}

.about__logo-image {
  margin-top: 64px;
  height: 114px;
}

.text {
  align-self: end;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  align-self: end;
  margin-bottom: 7px;
}

.about__text {
  font-size: 20px;
  width: 690px;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 158px 50px 88px 50px;
}

.footer__menu {
  font-size: 18px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  column-gap: 35px;
  text-underline-offset: 4px;
  list-style-type: none;
  margin-left: 20px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  margin-left: 48px;
  border-radius: 50%;
}
